<div id="home" class="shadowbox">
    <div>
        <img src="../img/ip.png"/>
        <div>
            <h4>PorygonDex</h4>
            <p>
                Ici, on utilise les Pokémon pour faire des <b>expériences</b>.<br/>
                Mais n'ayez crainte, aucun Pokémon ne sera blessé.<br/>
                Ce site a pour but d'être un <b>terrain de jeu</b> pour l'équipe de développement.<br/>
                Toujours en se centrant sur l'univers <b>Pokémon</b>, nous voulons partir à la découverte des nouveautés du web et vous en faire profiter.
            </p>
        </div>
    </div>
    <div class="right">
        <img src="../img/idex.png"/>
        <div>
            <h4>Pokédex</h4>
            <p>
                Qui n'a jamais voulu se prendre pour le prof. Chen et créer son propre Pokédex ?<br/>
                D'accord, peut-être pas tout le monde... Mais nous, on en a envie !<br/>
                Le <b>premier challenge</b> pour PorygonDex est de se constituer un Pokédex.<br/>
                Notre Pokédex est loin d'être fini, mais nous ne travaillons pas non plus à plein temps dessus.<br/>
                Nous espérons cependant offrir la meilleurs expérience d'utilisation possible.
            </p>
        </div>
    </div>
    <div>
        <div class="imgwithshadow">
            <img src="../img/ipai.png" class="withshadow"/>
            <img src="../img/isapi.png" class="shadow"/>
        </div>
        <div>
            <h4>Et ensuite ?</h4>
            <p>
                <b>Nos projets</b> ne s'arrêtent pas là !<br/>
                Nous espérons enrichir d'avantage ce site au fil du temps.<br/>
                Notre seule limite sera l'univers Pokémon.
            </p>
        </div>
    </div>
</div>