<div>
    <h2>#{{pokemon.no_national | numberFixedLen:3}} - {{pokemon.name_fr}}</h2>
    <div>
        <img ng-src="../img/xy/{{pokemon.no_national | numberFixedLen:3}}.png"/>
        {{pokemon.type1.name_fr}}
        {{pokemon.type2?" - " + pokemon.type2.name_fr:""}}
    </div>
    <div>
        Numéro Johto : {{pokemon.no_johto}}<br>
        Numéro Hoenn : {{pokemon.no_hoenn}}<br>
        Numéro Sinnoh : {{pokemon.no_sinnoh}}<br>
        Nom français : {{pokemon.name_fr}}<br>
        Nom anglais : {{pokemon.name_en}}<br>
        Nom japonais : {{pokemon.name_jp}}<br>
        Poids : {{pokemon.weight}}<br>
        Taille : {{pokemon.height}}<br>
        Catégorie : {{pokemon.category_fr}}<br>
        Description X : {{pokemon.description_x_fr}}<br>
        Description Y : {{pokemon.description_y_fr}}<br>
        Capacités spéciale : {{pokemon.tmp_abilities}}
    </div>
    <div>
        Points de vie : {{pokemon.hp}}<br>
        Attaque : {{pokemon.attack}}<br>
        Défense : {{pokemon.defense}}<br>
        Attaque spéciale : {{pokemon.special_attack}}<br>
        Défense spéciale : {{pokemon.special_defense}}<br>
        Vitesse : {{pokemon.speed}}
    </div>
    {{pokemon.previous_evolution}}
    {{pokemon.tmp_evolution_type}}
</div>